html {
    overflow-y: overlay;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 20px !important;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Verdana", "Helvetica Neue", Arial, sans-serif !important;
}

body>#root>div {
    position: absolute;
    height: 100%;
}

#root {
    background: rgb(240, 240, 240);
}

#headerpicture {
    width: 50px;
    height: 50px;
    margin: 0 25px 0 0;
}

.spectatingboard {
    margin-right: 200px !important;
}

.online_user_div {
    text-align: center;
    height: 100%;
    display: inline-block;
}

#gamehighscorewrapper {
    /*display: flex;
    justify-content: space-around;*/
    width: 100%;
    margin: 10px auto !important;
    text-align: center !important;
}

.singleplayerleft {
    position: absolute;
    top: 30vh;
    left: 3vw;
}

.singleplayerright {
    position: absolute;
    top: 30vh;
    right: 3vw;
}

@media screen and (max-width: 1919px) {
    #gamehighscorewrapper {
        text-align: center !important;
    }
    .singleplayerleft {
        position: relative;
        top: 0px;
        display: inline-block;
        margin-right: 100px;
        position: relative;
    }
    .singleplayerright {
        position: relative;
        top: 0px;
        display: inline-block;
        position: relative;
    }
}

.userlistgroup {
    margin: 10px 10px;
    display: inline-block;
}

.onlineuseritem {
    margin: 10px 0;
    width: 400px;
}

#onlineusers {
    display: inline;
    color: white;
    margin: 10px 10px;
}

.invite-div {
    width: 25vw;
    margin: 100px auto;
}

a {
    text-decoration: none;
    color: skyblue;
    font-weight: bold;
}

a:visited {
    color: skyblue;
}

a:hover {
    opacity: .8;
}

#root {
    display: flex;
}

.highscoreroot {
    margin: 0 10px;
    display: inline-block !important;
    width: 19vw;
}

.spectateboard {
    margin: 5vh 18vw 0 0;
}

.onlineusersroot {
    /*display: inline-block !important;
    width: 40vw;*/
    text-align: center;
}

.highscorenumber {
    display: inline;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5em;
}